---
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/Hero.astro";

import Experinces from "@/components/Experinces.astro";
---

<Layout title="Nimbo | A minimal astro theme">
  <main class="max-w-2xl mx-auto">
    <Hero />
    <Experinces />
  </main>
</Layout>

<!-- <style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style> -->
