---
import { Image } from "astro:assets";
const links = [
  {
    name: "github",
    link: "https://github.com/NafiAsib",
    icon: "/icons/github.svg",
  },
  {
    name: "linkedin",
    link: "https://www.linkedin.com/in/nafiasib/",
    icon: "/icons/linkedin.svg",
  },
  {
    name: "twitter",
    link: "https://twitter.com/NafiAsib",
    icon: "/icons/twitter.svg",
  },
  {
    name: "facebook",
    link: "https://www.facebook.com/nafi.asib",
    icon: "/icons/facebook.svg",
  },
];
---

<ul class="flex flex-col gap-y-5 lg:fixed lg:bottom-[10%] lg:left-[10%]">
  {
    links.map((link) => (
      <li class="hover:scale-110 transform transition-all duration-300">
        <a href={link.link} target="_blank" rel="noopener noreferrer">
          <Image src={link.icon} alt={link.name} width={40} height={40} />
        </a>
      </li>
    ))
  }
</ul>
