---
const links = [
  {
    name: "Experience",
    url: "#experience",
  },
  {
    name: "Projects",
    url: "#projects",
  },
  {
    name: "Blog",
    url: "https://blog.nafiasib.com",
  },
];
---

<nav>
  <ul class="flex gap-x-8">
    {
      links.map((link) => (
        <li
          class="text-lg hover-underline"
          aria-label={`Opens ${link.name} of Nafi`}
        >
          <a
            href={link.url}
            target={link.url.includes("http") ? "_blank" : "_self"}
          >
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
